@media only screen and (max-width: 1200px) {
  .container {
    width: 90%;
  }
}

@media only screen and (max-width: 1120px) {

  .country-descr,
  .country-details {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .country-details {
    gap: 64px;
  }

  .img-flag,
  .country-info {
    width: 100%;
  }

  .filter-dropdown {
    width: 170px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }

  h1.logo {
    font-size: 20px;
  }

  .dark-btn {
    font-size: 14px;
  }

  /* Filter tools adjustments */
  .filter-tools {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .filter-dropdown {
    width: 160px;
  }

  .search-bar {
    width: 100%;
  }



  .filter-dropdown__selected,
  .filter-dropdown__options {
    width: 100%;
  }

  .countries {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }

  .country-card img {
    height: 200px;
    object-fit: fill;
  }

  .border-btn {
    width: 100%;
    justify-content: center;
  }

  .back-btn {
    width: 30%;
    margin-top: 2.5rem;
  }

  .country-details {
    gap: 64px;
  }
}