@media only screen and (max-width: 1200px) {
    .container {
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        width: 95%;
    }

    header {
        margin-bottom: 0;
    }

    /* country html media */
    .back-btn {
        width: 20%;
        margin-top: 2.5rem;
    }

    .country-descr,
    .country-details {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .country-details {
        gap: 64px;
    }

    .img-flag,
    .country-info {
        width: 100%;
    }

    /* */
}